.App {
  text-align: center;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/pizza.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0 0.02rem 0.1rem rgba(0, 0, 0, 0.5);
}

.home {
  width: 50%;
  margin: auto;
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createBtn {
  background-color: rgb(58, 32, 170);
  color: white;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 5%;
  border-radius: 2rem;

}

.createBtn:hover {
  box-shadow: 0 0 5rem rgba(255, 255, 255, 0.5);
  background-color: rgb(54, 241, 54);
  color: black;
}

.navItem {
  margin-right: 3%;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.displayBg {
  background-color: beige;
  color: black;
  width: 70%;
  margin: auto;
  padding: 1%;
  margin-top: 1%;
}

.cartDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.cartItem {
  border: 1px solid black;
  background-color: rgb(209, 203, 203);
  box-shadow: 10px 5px 5px rgb(143, 138, 138);
  border-radius: 10px;
  padding: 1%;
}

.cartItem p{
  margin-bottom: -7%;
}

.checkoutBtn {
  margin-bottom: 5%;
}

.pizzaOptions {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tops {
  display: flex;
  justify-content: space-evenly;
}

.pizzaLabel {
  display: flex;
  width: 80%;
  margin: auto;
}

.pizzaLabel label {
  margin-right: 7px;
}

.toppings {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.toppingName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pizzaFormBtns button {
  padding: 1rem;
  border-radius: 2rem;
  margin-left: 2%;
  margin-top: 2%;
}